/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

* {
  margin: 0;
  padding: 0;
font-size: large;

}
#box1{
padding-top: 45px;
padding-left: 30px;
justify-content: center;
margin-top: 20px;

border-radius: 20px;
height: 600px;
}
#card1{
border-radius: 20px;
height: 550px;
border-color: gold;


#imglo{
margin-left: 170px;
}
}

#card2{
  border-radius: 20px;
 margin-left: 25px;
  border-color: grey;
background-color: rgb(223, 221, 221);
  
  #imglo2{
  margin-left: 170px;
  }
  }

.tf2{
  margin-top: 30px;
  width: 37ch;
}
#h6{
  text-align: center;
}
#btn{
  margin-left: 20px;

}
#btn2{
width: 100px;


}
#tt1{
  margin-top: 30px;
}